/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/* .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
} */

footer.page-footer {
  margin: 0;
}

h4 {
  padding-bottom: 5px;
  text-decoration: underline;
  text-decoration-color: teal;
  text-underline-position: under;
}

mark, .resume {
  background-color: #cc0000;
  border-radius: 10rem;
  padding:5px;
  color: white;
}

.resume {
  background-color: DodgerBlue;
}

.carousel .carousel-item {
  top: -15px;
  height: 350px;
  width: 300px;
}

h5 {
  padding: 20px;
  color: white;
  /* margin-bottom: 20px; */
}


.carousel-item {
  background-color: #cc0000;
  border-radius: 15%;
}

.fa-play-circle {
  color: whitesmoke !important;
}

.fa-github {
  color: whitesmoke !important;
}

.fa-github, .fa-play-circle, .fa-linkedin {
  font-size: 45px !important;
}

section .fa-github, .fa-play-circle, .fa-linkedin {
  display: block !important;
}

  /* Style buttons */
.carouselbtn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  height: 80px;
  width: 80px;
  border-radius: 45%;
  margin: 10px;
}

/* Darker background on mouse-over */
.carouselbtn:hover, .resume:hover {
  background-color: RoyalBlue;
}

.card-image {
  margin-bottom: 20px;
}

.footerIcon {
  width: 45px;
  margin-right: 25px;
}

.footerIconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p {
  line-height: 2px;
}

footer {
  background-image: linear-gradient(to bottom, #cc0000 20%, #691414 80%);
}

footer h5 {
  padding: 10px;
}

.left-align {
  line-height: 20px;
  padding: 10px;
}

.sidenav {
  background-image: linear-gradient(to top, #cc0000 20%, #691414 80%);
}


